@import url("home.css");

#imagens{
	width: 800px;
	margin:0 auto;
  	padding:0;
}

img, .pics{
	max-width: 200px;
	max-height: 150px; 
}

p{
	font-size: 13px;
	font-family: "Verdana";
}

table {
	border-spacing: 2px;
}
td{
	padding: 6px;
}

 input[type="submit"], input[type="file"]{
 	font-size: 13px;
 	font-family: "Verdana";
 }
 .estilo_select{
 	width: 300px;
 	left: 130px;
 }

